
/******************
Header
********************/

header {
	position: absolute;
	width: 100%;
	border-bottom: solid 1px black;
	background-color: rgba(255, 255, 255, 0.3);
}


.logonav {

	max-width: 250px;
	height: auto;
	padding-top: 5px;
	display: inline-block;
	top: 0;
	left: 0;
	margin-left: 30px;

}



.headernav {
	display: -webkit-flex;
     -webkit-flex-direction: row;
     -webkit-justify-content: space-between;
     -webkit-flex-wrap: wrap;
     -webkit-align-items: center;
     min-height: 70px;
     max-height: 600px;
	 max-width: 100%;
	 position: absolute;
	 top: 0;
	 right: 0;
	 padding-top: 29px;
}

.headernavli a {
	color: black;
}

.headernavli {
	font-size: 1.5em;
	padding: 0 90px 0 25px;
	color: black;
}

.headernavli a:hover {
	border-bottom: solid 2px black;
	color: black;
}

.selected {
	border-bottom: solid 2px black;
	color: white;
}


a {
font-family: 'Josefin Sans', sans-serif;
text-decoration: none;

}


li {
list-style-type: none;
}

p {
	color: white;

}

.overlay {
	background-color: rgba(0, 0, 0, .3);
	background-size: cover;
	height: 100%;

}
/******************

Main
********************/

ul {
	padding: 0px;
	margin: 0px;
}

body {
	position: relative;
	top: 0;
}

main {
	display: block;
	min-height: 370px;
	height: auto;
	width: 100%;
	color: white;
	background-color: rgba (255, 255, 255, .5);
	z-index: 2000;
	positioning: absolute;
	top: 0;
}

.topcontentcontainer {
	height: auto;
	margin: 0 auto;
	width: 100%;
	padding-top: 127px;
}

h1 {
	text-align: center
	font-weight: 600;
	font-size: 1.5em;
	letter-spacing: .1em;
}

h2 {
	text-align: center;
	letter-spacing: .1em;
	font-size: 1.75em;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	margin-top: 1.5em;


}

p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	max-width: 75%;
	margin: 0 auto;
	letter-spacing: .09em;
	line-height: 1.5em;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 100px;
}

.contact-text-link {
	color: red;
	font-size: 1.15em;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	font-family: "Raleway", sans-serif;
}

.contact-text-link:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.contact-text-link:visited {
	color: grey;
}


.overlay {
	background: rgba (0, 0, 0, .8);
	background-size: cover;
	height: 100%;

}

/******************

Footer
********************/

footer {
	position: relative;
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	padding: 10px 20px 05px 0;
	min-height: 70px;
	}

.transparent-footer-div {
	position: absolute;
	top: 0;
	background: url('images/group_bw.jpg')  top center fixed;
	background-size: cover;
	opacity: .4;
	width: 100%;
}

.transparent-footer-div:after
	{
		content: "";
	 	padding-top:60%;
		width: 0;
		display: inline-block;



	}

.pagesNav {
	position: absolute;
	bottom: 20px;
	left: 20px;

}

footer a {
	color: black;
}

 .pagesNav a {
 	font-size: .8em;
 }

.socialicons {
     position: absolute;
     bottom: 20px;
     right: 20px;
     }

.socialicons li {
	display: inline-block;
}

.footericon {
	max-width: 25px;
	height: auto;
	padding: 0 3px 0 5px;
}

.copywrite {
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: .8em;
}


/****************************
Index
****************************/



.main-top-wrap {
	background: url('images/piano.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 75vh;
	}

.main-text {
	padding-top: 3em;
	background-color: #e2e2e2;
}
	.main-text p {
		color: black;
		padding: 1em 0 2em;
	}

	.main-text hr {
		margin-top: em;
	}

  .bottom-line {
		padding-bottom: 4em;
		margin-bottom: 0;
	}

/****************************
About
****************************/
.mainabouttext {
	margin-top: 3%;
	padding-bottom: 100px;
}

.aboutmain {
	background: url('images/instruments_bw.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 65vh;
}




/****************************
Repertoire
****************************/
	.reptop {
		background: url('images/bass.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		/*padding: 12em 0 3em 0;*/
		height: auto;
	}

	/*.rep-main {
		background: url('images/bass.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: auto;
	}*/

	.reptop p, .reptop h2{
		color: white;
	}


.rep-top-bg {
		background-color: #171312;
		background-size: cover;
		overflow: hidden;
		min-height: 60vh;
		padding: 4em 0 4em;
		opacity: .7;

	}

.music {
		color: black;
		/*max-width: 100%;*/
		margin:0 auto;
		width: 75%;
	}

	.music h2 {
		color: white;
	}

.samples {
		/*margin: 3em 0;*/
		padding: 2em 0;
		text-align: center;
	}

	.music-bg {
		background: url("images/instruments_bw.jpg") no-repeat center center fixed;
		background-size: cover;
		background-attachment: fixed;
		padding: 3em 0;
	}



	.songcontainer {
		text-align: center;
		color: black;
		padding-top: 2em;
		border-top: black 1px solid;
		background-color: #e2e2e2;
		height: 100%;

	}

	.songcontainer h2 {
		font-size: 1.5rem;
	}

	.songli {
		font-family: 'Josefin Sans', sans-serif;
		margin: 30px auto;
		font-size: 1.2rem;
		width: 75%;

	}

	.songli li {
		width: 33%;
		display: inline-block;
		text-align: left;
		box-sizing: border-box;
		padding: 0px 25px;
		vertical-align: top;
	}


	.audioplayer {
		display: block;
		text-align: center;
		padding: 0px;
	}

	.audiojs {
		display: inline-block;
		margin: 0 auto;
		width: auto;
		border-radius: 40px;
		max-width: 25px;
		max-height: 25px;
		padding: 0px;
		margin-top: 10px;
	}

	.audiojs .play-pause {
		padding: 0px;
		color: red;
		background-color: red;
	}

	.scrubber, .time {
		display: none;
	}


	.songcontainer li {
		line-height: 1.3em;
		padding-bottom: 5px;

	}

	.songcontainer h2, .songcontainer hr {
		-webkit-column-span: all;
		-moz-column-span: all;
		text-align: center;
	}

	.songcontainer em {
		color: gray;
	}


	.songblock {
		box-sizing: border-box;
		display: inline-block;
		margin: 25px;
		width: 22%;
		border: black 1px solid;
		padding: 1.3em;
		position: relative;
		overflow: auto;
		border-radius: 1em;
		background-color: gray;
		opacity: .9;
		z-index: 1;
		font-size: 1.3em;

	}

	.songblock:before {
		padding-top: 100%;
		content: "";
		width: 0;
		float: left;

	}

	.songcontent {
		color: black;
		position: absolute;
		z-index: 1000;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

	}

	.songcontent hr {
		visibility: hidden;

	}

	.songtitle, .artist {
		display: block;
		font-family: 'Josefin Sans', sans-serif;
	}

	.artist {
		font-style: italic;
		font-weight: 800;
		position: absolute:
		bottom: 20px;
		margin-top: 1px;
	}

	.songblock hr {
		padding: 10px 0 10px 0;
		margin: -16px auto 0;
	}

	.song-section-break-line hr {
		padding: 2em 0 2em:
		width: 40%;


	}

	.music hr {
		margin-bottom: 0;
	}

	.push {
		height: 100px;
	}
/****************************
Contact
****************************/

.contactwrap {
		background: url('images/sax_bw.jpg') no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		color: white;
	}


.maillink, .phonelink {

}

.maillink img, .phonelink img {
	width: 40px;
	 -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: transform;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.maillink img:hover, .phonelink img:hover {
	-webkit-transform: scale(1.1);
 	-ms-transform: scale(1.1);
  	transform: scale(1.1);
}


.contact-items {
	margin-left: 15%;
	padding: 3em 1.5em 3em 3em;
	font-size: 1.5em;
	display: inline-block;

}

.contact-items a {
	color: white;
}

.item {
	padding: .5em;
}

.item-info {
	margin-left: 25px;
}

.socialcontact {
	display: inline-block;
}
 .socialcontact img {

 	width: 40px;

 	-webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: -webkit-transform;
	  transition-property: transform;
	  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 }

.socialcontact img:hover {
	-webkit-transform: scale(1.1);
 	-ms-transform: scale(1.1);
  	transform: scale(1.1);
  }

/****************************
Tablet
****************************/

@media only screen and (max-width:750px) {

.songcontainer {
	width: 90%;
	color: black;
	margin: 0 auto;
}

.logonav {
	display: block;
	margin: 0 auto;
}

.headernav {
	position: relative;
	padding-top: 5px;
	min-height: 0px;
	margin-bottom: 10px;
}

nav a:selected {
	border: none;
	color: white;
}

.songli li{
	width: 49%;
}

.headernavli a:hover, .selected {
	 border-bottom: none;

}

.headernavli a:hover {
	color: white;

}

.selected {
	color: red;
}

.topcontentcontainer {
	padding-top: 180px;
}

.songblock {
	width: 37%;
}

.contact-items {
	display: block;
	margin-left: 15%;
	padding: 1em;
}

.socialcontact li {
	display: inline-block;
}

.socialcontact {
	margin-top: 2em;
	margin-left: 50%;
	transform: translate(-50%,-50%);
}

/**************
.navwrap {
	display: block;
}

.logonav {
	text-align: center;
	display: block;


	}

.headernav {
	 			 display: block;


}

.headernav li {
	display: inline;
}


**************************/
@media only screen and (max-width:560px) {

.contact-items {
	display: block;
	text-align: center;
	margin-left:0;
}

.socialcontact {
	display: inline-block;
	margin-left: 50%;
	text-align: center;
	transform: translate (0, -50%);
}

}



/****************************
Cell
****************************/

@media only screen and (max-width:425px) {

	.headernav {
				display: -webkit-flex;
			     -webkit-flex-direction: column;
			     -webkit-justify-content: space-between;
			     -webkit-flex-wrap: wrap;
			     margin-top: -10px;
			     margin-bottom: 10px;
			}

	.headernavli {

				padding: 10px 25px 5px 25px;


			}

	.logonav {
		margin-left: 19vw;
		margin-bottom: -20px;

	}

	.footer {
		padding-top: 2em;

	}


	.socialicons, .pagesNav {
		position: relative;
		text-align: center;
		padding: .75em;

	}

	.socialicons {
		margin-left: 8%;
		padding-bottom: 2em;
	}

	.pagesNav {
		display: block;
		position: static;
		padding-bottom: 2em;
	}

	.pagesNav li{
		text-align: center;
	}

	.copywrite {
		padding-top: 20px;
	}

	.topcontentcontainer {
		padding-top: 265px;
}

.songblock  {
	width: 60%;
}

.item-info {
	display: block;
	text-align: center;
	margin: 0;
}

.maillink img {
	text-align: center;
}



}
